{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>GameReviews</title>
    <link rel="icon" type="image" href="https://scontent.fsof11-1.fna.fbcdn.net/v/t1.15752-9/235853183_348737433598154_5499103817507184541_n.jpg?_nc_cat=108&ccb=1-5&_nc_sid=ae9488&_nc_ohc=AHCAS_3umPAAX_XyGch&_nc_ht=scontent.fsof11-1.fna&oh=79fec9e4a28b851964615d6f249e55d2&oe=613CA650"/>
{#    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">#}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">

    <link rel="stylesheet" href="{% static 'main.css' %}">
</head>
<body>

{% include 'common/nav.html' %}

{% block content %}
{% endblock %}

</body>
</html>
